body {
	background-color: black;
}
.navbar-default {
	background-color: red;
}
.navbar-default .navbar-brand {
	color: black;
	font-weight: bold;
}
.navbar-default .navbar-brand:hover {
	color: black;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: black;
}
.grand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
	color: black;
}
.img-thumbnail,
.thumbnail {
	border-color: red;
	background-color: black;
}
h1,
h2,
a,
a:hover,
p {
	color: red;
}
hr {
	border-color: red;
	background-color: red;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > li > a,
.pagination > li > a:hover {
	color: black;
	background-color: red;
}
.comment.well {
	background: #252525;
}
.nav-tabs > li.active > a {
	background-color: red;
	color: black;
	border-color: red;
}
i,
.text-muted,
.btn-link,
.btn-link:hover {
	color: red;
}
.nav-tabs {
	border-color: red;
}
.label-success {
	background-color: red;
	color: black;
}
.nav-tabs>li>a:hover,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover {
	background-color: red;
	color: black;
	border-color: red;
}
input.btn,
input.btn:hover,
button.btn-primary,
button.btn-primary:hover,
input[type=file],
input[type=email],
input[type=password],
input[type=text] {
	background-color: #252525;
	border-color: red;
	color: black;
}
.pagination > .active > span:hover,
.pagination > .active > span {
	background-color: red;
	color: black;
}
.panel-default > .panel-heading,
.panel {
	background-color: black;
	color: red;
	border-color: red;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus,
.dropdown-menu {
	background-color: black;
	color: red;
}
.dropdown-menu>li>a {
	color: red;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: red;
	color: black;
}
.glyphicon {
	color: black;
}
