html {
	position: relative;
	min-height: 100%;
}

#page {
	padding: 0;
	min-height: 600px;
}

.nav.navbar-nav > li > a.grand {
	color: #FFD700;
}

.nav.navbar-nav img.avatar {
	position: relative;
	bottom: 10px;
	margin-right: 10px;
	float: left;
	height: 40px;
}

.glyphicon {
	padding-right: 3px;
}

.navbar-brand > .logo {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: sub;
	padding-right: 3px;
	background-image: url('../img/ih-logo.png');
	background-position: 0 -50px;
	background-repeat: no-repeat;
}
	.navbar-brand:hover > .logo {
		background-position: 0 -25px;
	}

.page-header {
	margin-top: 0;
}

.comment-sidebar {
}

.comments {
	padding: 20px 0;
}
	.comment {
	}
		.comment-avatar {
			margin-right: 5px;
			width: 25px;
		}

		.comment-editbutton {
			float: right;
			display: none;
			position: relative;
		}

		.comment:hover .comment-editbutton {
			display: inline-block;
		}

		.comment-name {
			padding-top: 5px;
		}

		.comment-form {
			padding-top: 20px;
		}

.haul-info {
	padding-top: 20px;
}

.form-signin, .form-upload, .form-forgot, .form-reset {
	max-width: 360px;
	padding: 25px 15px 10px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.modal-header-primary {
	background-color: #2c3e50;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	color: #fff;
}
	.modal-header-primary .close {
		color: #fff;
	}

@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
